@{
    ViewBag.Title = "Client-side HTML5 'File' upload example";
}
<h2>@ViewBag.Title.</h2>


<p>The following code demonstrates partitioning/splitting a large file into chunks and streaming them to the server</p>


<input type="file" id="uploadFile" multiple name="file" />  
<a href="#" id="btnUpload" class="btn btn-primary">Upload file</a>

<input type="number" id="counter" value="0"/>
<input type="number" id="total" value="0" />

@section scripts{
    <script type="text/javascript" src="@Url.Content("/Scripts/MVCApp.js")"></script>
}